ANTHROPIC_API_KEY=

TWITTER_USERNAME=
TWITTER_PASSWORD=
TWITTER_EMAIL=

OPENAI_API_KEY=

STARKNET_RPC_URL=
STARKNET_ADDRESS=
STARKNET_PRIVATE_KEY=

# This is the current GraphQL to make the examples work
GRAPHQL_URL=https://api.cartridge.gg/x/sepolia-rc-18/torii

DRY_RUN="true"