@import "tailwindcss";

html {
  font-family: var(--font-open-sans);
}

@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 15s ease infinite;
  }
}
