@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 146 100% 95%;
    --foreground: 146 5% 10%;
    --card: 146 50% 90%;
    --card-foreground: 146 5% 15%;
    --popover: 146 100% 95%;
    --popover-foreground: 146 100% 10%;
    --primary: 146 60% 91%;
    --primary-foreground: 0 0% 0%;
    --secondary: 146 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 108 30% 85%;
    --muted-foreground: 146 5% 40%;
    --accent: 108 30% 80%;
    --accent-foreground: 146 5% 15%;
    --destructive: 0 100% 49%;
    --destructive-foreground: 146 5% 90%;
    --border: 146 30% 50%;
    --input: 146 30% 49%;
    --ring: 146 60% 91%;
    --radius: 0.3rem;
    --sidebar-background: 146 100% 95%;
    --sidebar-foreground: 146 5% 10%;
    --sidebar-primary: 146 60% 91%;
    --sidebar-primary-foreground: 146 5% 10%;
    --sidebar-accent: 146 50% 90%;
    --sidebar-accent-foreground: 146 5% 15%;
    --sidebar-border: 146 30% 50%;
    --sidebar-ring: 146 60% 91%;
  }
  .dark {
    --background: 146 50% 10%;
    --foreground: 146 5% 90%;
    --card: 146 50% 10%;
    --card-foreground: 146 5% 90%;
    --popover: 146 50% 5%;
    --popover-foreground: 146 5% 90%;
    --primary: 146 60% 91%;
    --primary-foreground: 0 0% 0%;
    --secondary: 146 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 108 30% 25%;
    --muted-foreground: 146 5% 60%;
    --accent: 108 30% 25%;
    --accent-foreground: 146 5% 90%;
    --destructive: 0 100% 49%;
    --destructive-foreground: 146 5% 90%;
    --border: 146 30% 49%;
    --input: 146 30% 49%;
    --ring: 146 60% 91%;
    --radius: 0.3rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 146 50% 10%;
    --sidebar-foreground: 146 5% 90%;
    --sidebar-primary: 146 60% 91%;
    --sidebar-primary-foreground: 146 5% 10%;
    --sidebar-accent: 146 50% 10%;
    --sidebar-accent-foreground: 146 5% 90%;
    --sidebar-border: 146 30% 49%;
    --sidebar-ring: 146 60% 91%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@font-face {
  font-family: "ST-Tokyo";
  src: url("/ST-Tokyo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: url("/theseasons-reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: url("/theseasons-it.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
